<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">Increhub</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>    
                <li class="nav-item pcoded-menu-caption">
                    <label>Tools</label>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span
                            class="pcoded-mtext">Learning Tools</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/lesson_explainer" class="">Lesson Explainer</a></li>
                        <li class=""><a href="/summarizer" class="">Summarizer</a></li>
                        <li class=""><a href="/flashcard" class="">Flash Card Generator</a></li>
                        <li class=""><a href="/qna" class="">QnA Generator</a></li>
                    </ul>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-package"></i></span><span
                            class="pcoded-mtext">Numerical Tools</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/maths" class="">Mathemetics Numerical Solutions</a></li>
                        <li class=""><a href="/physics" class="">Physics Numerical Solutions</a></li>
                        <li class=""><a href="/chemistry" class="">Chemistry Numerical Solutions</a></li>
                    </ul>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-clipboard"></i></span><span
                            class="pcoded-mtext">Exercise Solutions</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/computer" class="">Computer Solutions</a></li>
                    </ul>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-zap"></i></span><span
                            class="pcoded-mtext">Tutoring Classes</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/tutor" class="">AI Tutor</a></li>
                        <li class=""><a href="/python_code_generator" class="">Notes Generator</a></li>
                        <li class=""><a href="/tips" class="">Tips Generator</a></li>
                    </ul>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-feather"></i></span><span
                            class="pcoded-mtext">Informal Study Tools</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/cybersecurity" class="">Cybersecurity Lessons</a></li>
                        <li class=""><a href="/financial" class="">Financial Lessons</a></li>
                        <li class=""><a href="/influencer" class="">Social Media Influencer Lessons</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
